body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.contact-header {
    border-top: 2px solod black;
    padding-top: 10px;
}

h1 {
    margin: 0;
    font-size: 32px;
}

.job-title {
    color: #4caf50;
    margin: 5px 0;
    font-size: 20px;
}

.contact-info p {
    margin: 0;
    line-height: 1.4;
    color: #333;
}

.section-title{
    color: #4cAf50;
    margin-top: 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.Company-name {
    color: #2196F3;
    margin: 5px 0 0 0;
}

.date {
    marign: 0;
    font-weight: bold;
}

ul {
    margin: 5px;
    padding-left: 20px;
}